<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>controller</key>
		<string>MSHomeController</string>
		<key>title</key>
		<string>首页</string>
		<key>nor_img</key>
		<string>home</string>
		<key>sel_img</key>
		<string>home_sel</string>
	</dict>
	<dict>
		<key>controller</key>
		<string>MSInvestController</string>
		<key>title</key>
		<string>理财</string>
		<key>nor_img</key>
		<string>invest</string>
		<key>sel_img</key>
		<string>invest_sel</string>
	</dict>
	<dict>
		<key>controller</key>
		<string>MSAccountController</string>
		<key>title</key>
		<string>我的</string>
		<key>nor_img</key>
		<string>account</string>
		<key>sel_img</key>
		<string>account_sel</string>
	</dict>
</array>
</plist>
